@define-color background 	    rgba(15, 27, 53, 0.9);
@define-color font-color      #c9ccce;
@define-color active-workspace #61afef;
@define-color hover rgba(58, 62, 75, 0.9);

* {
  /* font-family: "Adwaita Sans", "JetBrainsMono Nerd Font"; */
  font-weight: bold;
  font-size: 16px;
  color: @font-color;
}

#waybar {
  background-color: transparent;
}

#custom-power,
#custom-reboot,
#custom-sleep,
#clock,
#tray,
#language,
#custom-nightlight,
#network,
#memory,
#custom-gpu,
#custom-temperature,
#cpu,
#custom-notification {
  padding: 0 10px 0 10px;
  background-color: @background;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

/* #network, */
#memory,
#custom-gpu,
#cpu,
#custom-temperature {
  min-width: 55px;
}

#tray:hover,
#clock:hover,
#language:hover,
#custom-nightlight:hover,
#network:hover,
#memory:hover,
#custom-gpu:hover,
#cpu:hover,
#custom-temperature:hover,
#custom-notification:hover {
  /* background-color: @hover; */
  color: white;
}

#workspaces,
#clock,
#tray,
#custom-notification {
  border-radius: 10px;
  margin-right: 5px;
}

#workspaces {
  background-color: @background;
  margin-left: 5px;
}

#custom-notification {
  padding: 0;
  min-width: 35px;
  margin-left: 10px;
}

#custom-power,
#language,
#network {
  margin-left: 10px;
  border-radius: 10px 0 0 10px;
}

#custom-sleep,
#custom-nightlight,
#custom-temperature {
  border-radius: 0 10px 10px 0;
}

#custom-power:hover {
  color: #e34b4b;
}

#custom-reboot:hover {
  color: #e69138;
}

#custom-sleep:hover {
  color: #4a90b5;
}

#network {
  padding-left: 15px;
  color: #a3b9c9;
  animation: none;
}

#network.disconnected {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    color: #a3b9c9;
  }
  50% {
    color: red;
  }
  100% {
    color: #a3b9c9;
  }
}

#network:hover {
  color: #70b8e0;
}

#memory {
  color: #b2c8b2;
}

#memory:hover {
  color: #82c982;
}

#custom-gpu {
  color: #e4b8b8;
}

#custom-gpu:hover {
  color: #f05555;
}

#cpu {
  color: #d8c1a3;
}

#cpu:hover {
  color: #e8a04d;
}

#custom-temperature {
  color: #c7b2c8;
}

#custom-temperature:hover {
  color: #d182d8;
}

#workspaces button:hover {
  background-color: alpha(@active-workspace, 0.2);
}

#workspaces button.active {
  background-color: @active-workspace;
}
